<main id="gallery" >
    <div id="images" class="d-flex align-content-start flex-wrap justify-content-around">
    </div>
    <script id="figureTemplate" type="text/template">  <!--  seda me hetkel ei kasuta !-->
    <figure class="figure crop">                                  <!--  figure - raamistik !-->
        <img src="{{source}}" alt="{{alternative}}" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">{{caption}}</figcaption>
        </figure>
    </script>
    
</main>